@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  html {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0,
      "onum" 0, "lnum" 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-neulis-sans);
  }

  body {
    font-family: var(--font-neulis-sans);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-neulis-neue);
    font-weight: 500;
  }

  button {
    font-family: var(--font-neulis-neue);
  }

  p,
  span,
  a,
  li,
  input,
  textarea,
  select {
    font-family: var(--font-neulis-sans);
  }
}
